@import '../variables';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0;
  min-width: 400px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 1000; /* Ensure it appears above other content */


  .modal-header {
    border-bottom: 1px solid $grey-400;
    padding: $padding-small $padding-mid;
  }

  .modal-footer {
    padding: $padding-mid;
    display: flex;
    gap: $padding-x;
    margin-bottom: 0;

    .btn {
      margin-right: 0;
    }
  }

  h2 {
    margin-bottom: 0;
    color: $grey-400;    
    font-weight: 500;
    font-size: 1.25rem;
  }
}

.modal-columns {
  padding: $padding-mid;
  padding-bottom: 0;
}

.modal-item {
  border: 1px solid $light-bg-700;
  padding: $padding-x;
  background-color: $light-bg-400;

  label {
    display: flex;
    gap: 10px;

    input {
      height: 16px;
      width: 16px;
      transform: translateY(4px);
    }

    input[type="checkbox"]:checked {
      accent-color: $purple-400;
      height: 18px;
      width: 18px;
      display: inline-block;
    }
  }
}

.modal div {
  margin-bottom: 10px;
}
