$light-bg-100: #fbfbfd;
$light-bg-400: #f6f7fb;
$light-bg-700: #dee5f1;
$light-blue-100: #f8fbff;
$white: #ffffff;
$black: #000000;

$grey-400: #7f8da4;

$purple-400: #484fad;
$purple-900: #393d5e;
$purple-20: #f4f4fa;
$purple-50: #ededf7;
$purple-100: #dadcef;
$purple-200: #b6b9de;

$blue-400: #2c7be5;

$accent-blue: #2c7be5;
$accent-orange: #fdbf5a;
$accent-purple: #6675ff;
$accent-green: #20d88b;

$muted-green: #7EC98A;

$padding-x: .5rem;
$padding-small: 1rem;
$padding-mid: 2rem;
$padding-large: 4rem;

$gap-small: 5px;
$gap-mid: 10px;
$gap-large: 20px;

$sidebar-expanded-width: 250px;
$sidebar-collapsed-width: 60px;

$fs-m: 0.9375rem;
$font-primary: "Roboto", sans-serif;
$font-secondary: "Rubik", sans-serif;
$font-num: "Rubik", "Roboto", sans-serif;
