@import "variables";
@import "mixins";
@import "components/Sidebar.scss";
@import "components/Header.scss";
@import "components/StatsCards.scss";
@import "components/Forms.scss";
@import "components/Tables.scss";
@import "components/Modal.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-bg-400;
}

.app {
  display: flex;
  // flex-direction: column;
  background-color: $light-bg-400;
}

.eq-width {
  display: flex;
  flex-direction: column;
  // flex: 1;
  flex-grow: 1;
  width: 48%;
}

.content-wrapper {
  padding: $padding-mid;
  padding-top: 0;
  padding: 0;
  // flex-grow: 1;
  width: calc(100% - $sidebar-expanded-width); // Default content width
  transition: width 0.3s ease; // Smooth transition

  &.expanded {
    width: calc(100% - $sidebar-expanded-width);
  }

  &.collapsed {
    width: calc(100% - $sidebar-collapsed-width);
  }
}

.content {
  padding: $padding-mid;
}

.page-wrapper {
  padding: $padding-mid;
  background-color: $white;
}


